:root{
        --blue : #0065FC;
}


body{
        font-family: Raleway;
        padding : 0%;
        margin: 0%;
}

.allWithoutFooter       {
        padding-left: 2% ;
        padding-right: 2%;
}

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
}

nav{
        align-items: center;
}

nav a {
        margin :    0% 2rem 2rem 0%;
        padding-top : 2rem;
        color : black;
        text-decoration: none;
        display: inline-block;
}

nav > a:hover {
        color: var(--blue);
        border-top: var(--blue) 3px solid ;
}

.navButtonActive        {
        color : var(--blue);
        border-top: 3px solid var(--blue);

}

.signUp {
        color : var(--blue);
        font-weight: bold;
        
}

.signUp:hover{
        border-top: none;
}

p {
        line-height: 1.5;
        font-size: 1.5rem;
}

#subtitle       {
        font-size: 75%;
}

.searchbox{
        display: flex;
}
#pin {
        background-color : #F2F2F2;
        padding : 1rem;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
        margin: 0;
        
}

input[type=text] {
    font-size: inherit;
    font-family: Raleway;
    font-weight: bolder;
    margin: 0rem;
    padding : 1rem;
    border : 0px;
}

input[type=submit]      {
        background-color :var(--blue);
        color: white;
        font-size: inherit;
        font-family: Raleway;
        font-weight: bolder;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
        margin : 0rem;
        padding : 1rem;
        border : 0rem;
}

.fil {
        color: var(--blue);
        background-color: #DEEBFF;
        padding: 0.8rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-border-radius: 1rem;
}

.filters {
        display: inline-flex;
        margin-top: 1rem;;
        align-items: center;
        flex-wrap: wrap;
}

.filters h3{
        margin-right : 1rem;
}

.filter {
        display: inline-block ;
        flex-wrap: wrap;
        padding-right: 1rem;
        border: 2px #d8d8d8 solid;
        border-left: none;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        font-weight: bold;
        height : auto;
        margin : 1rem;

}

.filter:hover {
        background-color: #DEEBFF;
        transition-duration: 0.3s;
}

.fa-info        {
        color:var(--blue);
        
        border: 2px solid #d8d8d8;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        display: inline-block;
        padding: 0.3em 0.6em;
        
}

.infoBox        {
        margin-top: 1rem;
}

section{
        display: grid;
        background-color: #F2F2F2;
        padding-top: 1rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        /*flex-direction: column;*/
        grid-template-columns: repeat(1, 1fr);
        padding-left: 1rem;
        padding-right: 1rem;
        
}

section > .cards     {
        margin-left : 0;
        margin-right : 0;
        display : grid;
        /*justify-content : center;*/
        /*flex-wrap: wrap;*/
        grid-template-columns: repeat(3, 1fr);
}

section > a     {
        text-decoration : none;
        color : black;
        font-weight : bold;
        margin: 2rem;
}

section > h3    {
        margin-left: 1rem;
        margin-top: 3rem;
        font-size: 1.5rem;
}

.cards > .card {
        background-color: white;
        display: flex;
        box-shadow: .5rem .5rem 1.5rem 0 rgba(0, 0, 0, 0.2);
        border: .3rem solid white;
        border-bottom: none;
        border-radius: 1rem;
        flex-direction: column;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        margin : 1rem;
        height: auto;

        
}
section > .cards > .card > img {
        border-bottom: none;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        object-fit: cover;
        height: 8rem;
}

.hostingName     {
        font-weight: bold;
        margin : .5rem;
}

.price {
        margin-left : .5rem;
}

.fa-star        {
        color:var(--blue);
}

.mark {
        margin-left : .5rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
}

.disa       {
        color : #DEEBFF;
}

#popular {
        background-color: #F2F2F2;
        padding: 2rem;
        margin: 0 1rem 0 2rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        display: grid;
        grid-column: 3;
        grid-row: 1;
}

h3 > i{
        float: right;
}

#popular > h3{
        margin-left: 1rem;
        margin-top: 3rem;
        font-size: 1.5rem;
}

#hebergements{
        display: grid;
        grid-column: 1 / 3;
        grid-row: 1;
}

.cardPop > img    {
        width: 7rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        height: 8rem;
        object-fit: cover;
}

.cardPop {
        background-color: white;
        display: flex;
        box-shadow: .5rem .5rem 1.5rem 0 rgba(0, 0, 0, 0.2);
        border: .3rem solid white;
        border-radius: 1rem;
        flex-direction:row;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        margin: 2rem;
}

.cardPop > .description {
        display: flex;
        flex-direction: column;
        margin: 1rem 2rem 0 1rem;

}

.description > .nameAndPrice    {
        display: flex;
        flex-direction: column;
}

#hebAndPop {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin-top : 2rem;
}

.activites      {
        margin-top: 3rem;
}

.cardsActivites {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        'a1 a2 a4 a5'  
        'a1 a2 a4 a6' 
        'a1 a3 a4 a6';
        grid-gap: 1rem;
}

.cardsActivites > .card {
        background-color: white;
        display: flex;
        box-shadow: .5rem .5rem 1.5rem 0 rgba(0, 0, 0, 0.2);
        flex-direction: column;
        margin: 1rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
}

.cardsActivites > .card > img   {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

}

#activite1 { grid-area: a1; }
#activite2 { grid-area: a2; }
#activite3 { grid-area: a3; }
#activite4 { grid-area: a4; }
#activite5 { grid-area: a5; }
#activite6 { grid-area: a6; }

footer {
        background-color: #F2F2F2;
        width:100%;
        display: flex;
        flex-wrap: nowrap;
        margin: 0%;
        padding: 2rem;
        margin-top: 2rem;
}

footer > div{
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: grid;
        width: 33%;
        grid-template-columns: repeat(1, 1fr);
}

footer > div > a        {
        color: black;
        text-decoration: none;
        padding-top: 1rem;
}