

body {
        font-family: Raleway;
        padding-left: 2rem ;
        flex-wrap: wrap;
}

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
}

nav{
        margin : 1rem;
        align-items: center;
        margin-top : 2rem
}

nav a {
        margin : 2rem;
        padding : 2.3rem 0 0 0;
        color : black;
        text-decoration: none;
}

nav a:hover {
        color: #0065FC;
        border-top: #0065FC 3px solid ;
}

.navButtonActive        {
        color : #0065FC;
        border-top: #0065FC 3px solid ;
}

.signUp {
        color : #0065FC;
        font-weight: bold;
        
}

.signUp:hover{
        border-top: none;
}

p {
        line-height: 1.5;
        font-size: 1.5rem;
}

#subtitle       {
        font-size: 75%;
}

.searchbox{
        display: flex;
}
#pin {
        background-color : #F2F2F2;
        padding : 1rem;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
        margin: 0;
        
}

input[type=text] {
    font-size: inherit;
    font-family: Raleway;
    font-weight: bolder;
    margin: 0rem;
    padding : 1rem;
}

input[type=submit]      {
        background-color :#0065FC;
        color: white;
        font-size: inherit;
        font-family: Raleway;
        font-weight: bolder;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
        margin : 0;
        padding : 1rem;
}

.fil {
        color: #0065FC;
        background-color: #DEEBFF;
        padding: 0.8rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-border-radius: 1rem;
}

.filters {
        display: flex;
        margin-top: 1rem;;
        align-items: center;
        flex-wrap: wrap;
}

.filters h3{
        margin-right : 1rem;
}

.filter {
        display: inline-block ;

        padding-right: 1rem;
        border: 2px #d8d8d8 solid;
        border-left: none;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        font-weight: bold;
        height : auto;
        margin : 1rem;

}

.filter:hover {
        background-color: #DEEBFF;
        transition-duration: 0.3s;
}

.fa-info        {               /* TODO : Corriger le rond */
        color:#0065FC;
        border: 2px solid #d8d8d8;
        padding: .3rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

.infoBox        {
        margin-top: 1rem;
}