:root{
        --blue : #0065FC;
        --grey : #F2F2F2;
        --lightblue : #DEEBFF;
}




body{
        font-family: Raleway;
        padding : 0%;
        margin: 0%;
}

.allWithoutFooter       {
        padding-left: 2% ;
        padding-right: 2%;
}

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
}

nav{
        align-items: center;
}

nav a {
        margin :    0% 2rem 2rem 0%;
        padding-top : 2rem;
        color : black;
        text-decoration: none;
        display: inline-block;
        cursor:pointer;
        border-top: 3px solid white;
}

nav > a:hover {
        color: var(--blue);
        border-top: var(--blue) 3px solid ;
}

.navButtonActive        {
        color : var(--blue);
        border-top: 3px solid var(--blue);

}

.signUp {
        color : var(--blue);
        font-weight: bold;
        
}

.signUp:hover{
        border-top: none;
}

p {
        line-height: 1.5;
        font-size: 1.5rem;
}

#subtitle       {
        font-size: 75%;
}

.searchbox{
        display: flex;
}
#pin {
        background-color : var(--grey);
        padding : 1rem;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
        margin: 0;
        
}

input[type=text] {
    font-size: inherit;
    font-family: Raleway;
    font-weight: bolder;
    margin: 0rem;
    padding : 1rem;
    border : 1px var(--grey) solid;
}

#submit      {
        background-color :var(--blue);
        color: white;
        font-size: inherit;
        font-family: Raleway;
        font-weight: bolder;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
        margin : 0rem;
        padding : 1rem;
        border : 0rem;
        cursor:pointer;
}

#submit > p {
        font-size: 1rem;
        padding : 0 0 0 0;
        margin : 0 0 0 0;
}
#submit > i{
        display : none;
}
.fil {
        color: var(--blue);
        background-color: var(--lightblue);
        padding: 0.8rem;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        -webkit-border-radius: 50px;
}



.filters {
        display: flex;
        margin-top: 1rem;;
        align-items: center;
        flex-wrap: wrap;
}

.filters h3{
        margin-right : 1rem;
}

.filter {
        display: inline-block ;
        flex-wrap: wrap;
        padding-right: 1rem;
        border: 2px var(--grey) solid;
        border-left: none;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        font-weight: bold;
        height : auto;
        margin : 1rem;

}

.filter:hover {
        background-color: var(--lightblue);
        transition-duration: 0.3s;
}

.fa-info        {
        color:var(--blue);
        border: 2px solid var(--grey);
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        display: inline-block;
        padding: 0.3em 0.6em;
        
}

.infoBox        {
        margin-top: 1rem;
}

#hebergements{
        display: grid;
        background-color: var(--grey);
        padding-top: 1rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;

        padding-left: 1rem;
        padding-right: 1rem;
        grid-column: 1 / 3;
        grid-row: 1;
}


#hebergements > .cards     {
        margin-left : 0;
        margin-right : 0;
        display : grid;
        grid-template-columns: repeat(3, 1fr);
        
}

#hebergements > a     {
        text-decoration : none;
        color : black;
        font-weight : bold;
        margin: 2rem;
}

#hebergements > h3    {
        margin-left: 1rem;
        margin-top: 3rem;
        font-size: 1.5rem;
}

.cards > .card {
        background-color: white;
        display: flex;
        box-shadow: .5rem .5rem 1.5rem 0 rgba(0, 0, 0, 0.2);
        border: .3rem solid white;
        border-bottom: none;
        border-radius: 1rem;
        flex-direction: column;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        margin : 1rem;
        height: auto;

        
}
#hebergements > .cards > .card > img {
        border-bottom: none;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        object-fit: cover;
        height: 8rem;
}

.hostingName     {
        font-weight: bold;
        margin : .5rem;
}

.price {
        margin-left : .5rem;
}

.fa-star        {
        color:var(--blue);
}

.mark {
        display: flex;
        flex-wrap: nowrap;
        margin-left : .5rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
}

.disa       {
        color : var(--grey);
}

#popular {
        background-color: var(--grey);
        padding: 1rem;
        margin: 0 1rem 0 2rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        display: grid;
        grid-column: 3;
        grid-row: 1;
}

h3 > i{
        float: right;
}

#popular > h3{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
        margin-bottom: 0px;
        font-size: 1.5rem;
}



.cardPop > img    {
        width: 7rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        height: auto;
        object-fit: cover;
}

.cardPop {
        background-color: white;
        display: flex;
        box-shadow: .5rem .5rem 1.5rem 0 rgba(0, 0, 0, 0.2);
        border: .3rem solid white;
        border-radius: 1rem;
        flex-direction:row;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        margin: 2rem 1rem 2rem 1rem;
        height: 11rem;
}

.cardPop > .description {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        margin: 1rem 2rem 0 1rem;

}

.description > .nameAndPrice    {
        display: flex;
        flex-direction: column;
}


#hebAndPop {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin-top : 2rem;
}

.activites      {
        margin-top: 3rem;
        margin-bottom: 4rem;
}

.cardsActivites {
        height: 30rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap
        
}

.activite     {
        display: flex;
        flex-direction: column;
        max-width: 24%;
        box-shadow: .5rem .5rem 1.5rem 0 rgba(0, 0, 0, 0.2);
        border-radius:1rem;
        -webkit-border-radius:1rem;
        -moz-border-radius:1rem;
        -ms-border-radius:1rem;
        -o-border-radius:1rem;
        margin: 0 1rem 0 0;
}
.activite > img     {
        object-fit: cover;
        height: 100%;
        max-width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
}

.column {
        display: inline-flex;
        width:24%;
        flex-direction: column;
        padding: 0 0 2rem 0;
        margin: 0 1rem 0 0 ; 
        height: 30rem;

}

.column > .activite     {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        box-shadow: .5rem .5rem 1.5rem 0 rgba(0, 0, 0, 0.2);
        border-radius:1rem;
        -webkit-border-radius:1rem;
        -moz-border-radius:1rem;
        -ms-border-radius:1rem;
        -o-border-radius:1rem;
        padding-bottom: 2rem;
        margin: 0 1rem 0 0;
}
.column > .activite > img     {
        object-fit: cover;
        height: 100%;
        max-width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
}

#act1   {
        height: 100%;
}

#act2   {
        height: 56%;
        margin-bottom: 1rem;
}
#act2   > img {
        width: 100%;
        max-height: 100%;
}
#act3 {
        height: 100%;
}
#act4   {
        height: 28%;
        margin-bottom: 1rem;
}

#act4   > img {
        width: 100%;
        max-height: 100%;
}

#act5   {
        height: 28%;
        
}

#act6   {
        height: 56%
}

footer {
        background-color: var(--grey);
        width:100%;
        display: flex;
        flex-wrap: nowrap;
        margin: 0%;
        padding: 2rem;
        margin-top: 2rem;
}

footer > div{
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 33%;
        display: flex;
        flex-direction: column;
        
}

footer > div > a        {
        color: black;
        text-decoration: none;
        padding-top: 1rem;
}


/* Small devices (1200px and down) */
@media only screen and (max-width: 1200px) {
        body, .allWithoutFooter{
                margin: 0 0 0 0;
                padding: 0 0 0 0;
        }

        .logo   {
                margin: 1rem 0 0 1rem;
        }
        
        nav {
                display: flex;
                flex-wrap: wrap-reverse;
                width: 100%;
                padding: 0;
                margin: 0 0 0 0;
        }

        #btnHeb {
                width: 50%;
                margin-right : 0;


        }

        #btnAct {
                width: 50%;
                margin-right : 0;
        }

        nav a {
                padding-bottom: .5rem;
                border-bottom: 3px solid var(--grey);
                text-align:center;
        }

        nav > a:hover {
                color: var(--blue);
                border-top: 0 ;
                border-bottom: 3px solid var(--blue); 
        }

        .navButtonActive        {
                color : var(--blue);
                border-bottom: 3px solid var(--blue);
                border-top: 0px ;
        }

        .signUp {
                bottom:1rem;
                right:1rem;
                position: absolute;
                right:1rem;
                top:2rem;
                padding:0;
                margin : 0;
                height: 2rem;
                border: none;
        }

        .signUp:hover{
                border: none
        }

        .allWithoutFooter > p, .searchbox, .filters   {
                margin : 0 1rem 0 1rem;
        }

        #submit {
                border-radius: 1rem;
                -webkit-border-radius: 1rem;
                -moz-border-radius: 1rem;
                -ms-border-radius: 1rem;
                -o-border-radius: 1rem;
        }
        #submit > span     {
                display: none;
        }

        input[type=text]    {
                width: 100%;
                padding: 1rem;
        }
        #submit > i    {
                display: block
        }

        .searchbox {
                margin: 2rem 1rem 2rem 1rem;
        }

        .filters > h3   {
                width: 100%;
        }


        .infoBox        {
                margin : 1rem 1rem 1rem 1rem;
        }

        #hebAndPop      {
                display: flex;
                flex-wrap: wrap-reverse;
        }

        #popular        {
                width: 100%;
                margin: 0 0 0 0;
                padding : 0 0 0 0;
        }

        #popular > h3 > i       {
                padding-right: 1rem;
                
        }

        .cardPop        {
                margin: .5rem 1rem .5rem 1rem;
        }

        #hebergements    {
                background-color: white;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
        }

        #hebergements > .cards     {
        margin-left : 0;
        margin-right : 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        }
        .cards > .card {
                width: 100%;
        }

        .activites      {
                margin: 0 1rem 0 1rem;
                height: auto;
        }

        .cardsActivites {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: auto;
        }

        .activite       {
                max-width: 100%;
                width: 100%;
                padding-bottom: 2rem;
        }

        .column{
                width: 100%;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
                height: auto;
        }

        #act1   {
                height: 10rem;
                margin : 1rem 0 1rem 0;
        }

        #act1   > img {
                max-width: 100%;
                height: 10rem;
        }

        #act2   {
                height: 10rem;
                margin : 1rem 0 1rem 0;
        }
        
        #act2   > img {
                max-width: 100%;
                height: 10rem;
        }

        #act3 {
                height: 10rem;
                margin : 1rem 0 1rem 0;
        }

        #act3   > img {
                max-width: 100%;
                height: 10rem;
        }

        #act4   {
                height: 10rem;
                margin : 1rem 0 1rem 0;
        }

        #act4   > img {
                max-width: 100%;
                height: 10rem;
        }

        #act5   {
                max-width: 100%;
                height: 10rem;
                margin : 1rem 0 1rem 0;
        }

        #act5   > img {
                max-width: 100%;
                height: 10rem;
        }

        #act6   {
                max-width: 100%;
                height: 10rem;
                margin : 1rem 0 1rem 0;
        }

        #act6   > img {
                max-width: 100%;
                height: 10rem;
        }

        footer {
                flex-direction: column;
                padding-left: 1rem;
        }

        footer > div {
                width : 100%;
        }
}       /* Small devices (1200px and down) */