

body {
        font-family: Raleway;
        padding-left: 2rem ;
}

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
}

nav{
        margin : 1rem;
        align-items: center;
        margin-top : 2rem
}

nav a {
        margin : 2rem;
        padding : 2.3rem 0 0 0;
        color : black;
        text-decoration: none;
}

nav > a:hover {
        color: #0065FC;
        border-top: #0065FC 3px solid ;
}

.navButtonActive        {
        color : #0065FC;
        border-top: #0065FC 3px solid ;
}

.signUp {
        color : #0065FC;
        font-weight: bold;
        
}

.signUp:hover{
        border-top: none;
}

p {
        line-height: 1.5;
        font-size: 1.5rem;
}

#subtitle       {
        font-size: 75%;
}

.searchbox{
        display: flex;
}
#pin {
        background-color : #F2F2F2;
        padding : 1rem;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
        margin: 0;
        
}

input[type=text] {
    font-size: inherit;
    font-family: Raleway;
    font-weight: bolder;
    margin: 0rem;
    padding : 1rem;
}

input[type=submit]      {
        background-color :#0065FC;
        color: white;
        font-size: inherit;
        font-family: Raleway;
        font-weight: bolder;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
        margin : 0;
        padding : 1rem;
}

.fil {
        color: #0065FC;
        background-color: #DEEBFF;
        padding: 0.8rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-border-radius: 1rem;
}

.filters {
        display: flex;
        margin-top: 1rem;;
        align-items: center;
        flex-wrap: wrap;
}

.filters h3{
        margin-right : 1rem;
}

.filter {
        display: inline-block ;

        padding-right: 1rem;
        border: 2px #d8d8d8 solid;
        border-left: none;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        font-weight: bold;
        height : auto;
        margin : 1rem;

}

.filter:hover {
        background-color: #DEEBFF;
        transition-duration: 0.3s;
}

.fa-info        {
        /*TODO: Corrigerlerondissue#2*/
        color:#0065FC;
        border: 2px solid #d8d8d8;
        padding: .3rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

.infoBox        {
        margin-top: 1rem;
}

section{
        display: flex;
        background-color: #F2F2F2;
        padding-top: 1rem;
        margin-top: 2rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        flex-direction: column;
        
}

section > .cards     {
        margin-left : 2rem;
        margin-right : 2rem;
        display : grid;
        justify-content : center;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, 1fr);
}

section > a     {
        text-decoration : none;
        color : black;
        font-weight : bold;
        margin: 2rem;
}

section > h3    {
        margin-left: 2rem;
        margin-top: 3rem;
        font-size: 1.5rem;
}

.card {
        background-color: white;
        display: flex;
        box-shadow: .5rem .5rem 1.5rem 0 rgba(0, 0, 0, 0.2);
        border: .3rem solid white;
        border-bottom: none;
        border-radius: 1rem;
        flex-direction: column;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        margin : 1rem;
        
}
.card > img {
        width: 16rem;
        border-bottom: none;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        height: 8rem;
        object-fit: cover;
        
}

.hostingName     {
        font-weight: bold;
        margin : .5rem;
}

.price {
        margin-left : .5rem;
}

.fa-star        {
        color:#0065FC;
}

.mark {
        margin-left : .5rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
}

.disa       {
        color : #DEEBFF;
}

aside {
                display: inline-flex;
                background-color: #F2F2F2;
                padding-top: 1rem;
                margin-top: 2rem;
                margin-left: 2rem;
                border-radius: 1rem;
                -webkit-border-radius: 1rem;
                -moz-border-radius: 1rem;
                -ms-border-radius: 1rem;
                -o-border-radius: 1rem;
                flex-direction: column;        
}

#hebergements{
        display: flex;
        flex-wrap: wrap;
}

.cardPop > img    {
        width: 7rem;
        border-bottom: none;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        height: 8rem;
        object-fit: cover;
}

.cardPop {
        background-color: white;
        display: flex;
        box-shadow: .5rem .5rem 1.5rem 0 rgba(0, 0, 0, 0.2);
        border: .3rem solid white;
        border-bottom: none;
        border-radius: 1rem;
        flex-direction:row;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        margin: 2rem;
}

.cardPop > .description {
        display: flex;
        flex-direction: column;
        margin: 1rem 2rem 1rem 1rem;

}

.description > .nameAndPrice    {
        display: flex;
        flex-direction: column;
}